[submodule "front"]
	path = front
	url = git@github.com:Mario-Uceda/ReadyRecipes-Front.git
[submodule "back"]
	path = back
	url = git@github.com:Mario-Uceda/ReadyRecipes-Back.git
[submodule "webScrapping"]
	path = webScrapping
	url = git@github.com:Mario-Uceda/ReadyRecipes-WebScraping.git
